body {
    background-image: url("3a.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-position:top;
    background-size: 100%;
    width: 40%;
    border:5px solid blue;
    padding: 10px;
} 

